<div>
    <div class="card" style="width: 18rem;">        
        <div class="card-body">
                <div id="txbox">
                        <img [src]="imageBlobUrl" class="card-img-top" alt="...">
                </div>
            
        </div>
        <ul class="list-group list-group-flush " style="text-align:center;">
            <li class="list-group-item">{{totalConnection}} connections</li>
            <li class="list-group-item">{{postCount}} posts</li>
        </ul>
      </div>    
</div>
