<div class="container">
        <form class="form-signin col-sm-5 offset-sm-4" ngNativeValidate #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordHandler(resetPasswordForm)"> 
          
          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
          </div>
      
          <div class="form-group">
            <label for="inputPassword">New Password</label>
            <input type="password" name="newpasspord" ngModel class="form-control" placeholder="New Password" required>
          </div>
      
          <div class="form-group">
            <label for="inputConfirmPassword">Confirm Password</label>
            <input type="password" name="confirmpassword" ngModel class="form-control" placeholder="Confirm Password" required>
          </div>
      
          <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col">
              <button class="btn btn-outline-dark btn-block" type="submit">Reset</button>
            </div>
          </div>
        </form>
      </div>