#txbox{
    margin-top: -20px;
    margin-left: -10px;
    border: 2px solid rgb(7, 91, 154);
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
  }

.card{
    margin-bottom: 5px;
}