<div class="container">
    <form class="form-signin col-sm-5 offset-sm-4" ngNativeValidate #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordHandler(forgotPasswordForm)"> 
      
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>
      </div>
  
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" ngModel class="form-control" placeholder="Email address" required>
      </div>
  
      <div class="form-group">
        <label for="inputDob">Date of Birth</label>
        <input type="date" name="dob" ngModel class="form-control" placeholder="Date of Birth" required>
      </div>
  
      <div class="row">
        <div class="col">
            &nbsp;
        </div>
        <div class="col">
          <button class="btn btn-outline-dark btn-block" type="submit">Go</button>
        </div>
      </div>
    </form>
  </div>